summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

summary::before {
  content: '\25B6';
  padding-right: 0.5em;
}

details[open] > summary::before {
  content: '\25BC';
}

.repo {
  margin: 0 16px;
  vertical-align: middle;
}

.repo svg {
  height: 30px;
  width: 30px;
}

.repo-gh {
  display: inline-block;
  fill: rgba(0,0,0,.2);
}

.repo-travis {
  display: inline;
}

.bar rect {
  fill: steelblue;
}

.bar text {
  fill: #fff;
  font: 10px sans-serif;
}
